{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Carrinhos - PROATI</title>
    <link rel="stylesheet" href="{% static 'css/estiloMural.css' %}">
    
</head>
<body data-pagina="professor">
    
    <div class="header">
        <h1>PROATI 2026 - Gestão de Equipamentos</h1>
        <div>Olá, <strong id="nome-professor">{{ user.username }}</strong></div>
    </div>

    <div class="container">
        {% if user.is_staff %}

            <div class="container-export">

                <a href="{% url 'exportar_excel' %}" class="btn-exportar">
                    Exportar Reservas Passadas (Excel)
                </a>

            

            <div class="painel-admin">

                <h3>Controle de Quantidade</h3>

                <table class="tabela-admin">

                    <tr>
                        <th>Carrinho</th>
                        <th>Quantidade</th>
                        <th>Ação</th>
                    </tr>

                    {% for equipamento in equipamentos %}

                    <tr>

                        <td>{{ equipamento.nome }}</td>


                        <td>

                            <form method="POST" action="{% url 'atualizar_quantidade' %}">

                                {% csrf_token %}

                                <input
                                    type="hidden"
                                    name="equipamento_id"
                                    value="{{ equipamento.id }}"
                                >

                                <input
                                    type="number"
                                    name="quantidade"
                                    value="{{ equipamento.quantidade }}"
                                    min="0"
                                >

                        </td>

                        <td>

                                <button
                                    type="submit"
                                    class="btn-salvar"
                                >
                                    Salvar
                                </button>

                            </form>

                        </td>

                    </tr>

                    {% endfor %}

                </table>
            </div>
            </div>

            {% endif %}

        
        <!-- Seção do Formulário -->
        <div class="reserva-box">
            <h3>Reservar Equipamento</h3>
            <form method="POST" id="form-reserva">
                {% csrf_token %}
                
                <!-- 1º Passo: Data (O JavaScript usará este ID para filtrar o mural e os carrinhos) -->
                <label for="id_data">Data da Reserva:</label>
                <input type="date" name="data" id="id_data" value="{{ hoje }}" required>
                
                <!-- 2º Passo: Período -->
                <label for="id_periodo">Período/Horário:</label>

                <select id="id_periodo" required onchange="definirHorarios()">
                    <option value="">Selecione o Horário</option>

                    <optgroup label="1º Período Manhã/Tarde">
                        <option value="07:00|07:50">1º Horário (07:00 - 07:50)</option>
                        <option value="07:50|08:40">2º Horário (07:50 - 08:40)</option>
                        <option value="08:40|09:30">3º Horário (08:40 - 09:30)</option>
                        <option value="09:50|10:40">4º Horário (09:50 - 10:40)</option>
                        <option value="10:40|11:30">5º Horário (10:40 - 11:30)</option>
                        <option value="12:20|13:10">6º Horário (12:20 - 13:10)</option>
                        <option value="13:10|14:00">7º Horário (13:10 - 14:00)</option>
                    </optgroup>

                    <optgroup label="2º Período Tarde/Noite">
                        <option value="14:15|15:05">1º Horário (14:15 - 15:05)</option>
                        <option value="15:05|15:55">2º Horário (15:05 - 15:55)</option>
                        <option value="15:55|16:45">3º Horário (15:55 - 16:45)</option>
                        <option value="17:05|17:55">4º Horário (17:05 - 17:55)</option>
                        <option value="17:55|18:45">5º Horário (17:55 - 18:45)</option>
                        <option value="19:35|20:25">6º Horário (19:35 - 20:25)</option>
                        <option value="20:25|21:15">7º Horário (20:25 - 21:15)</option>
                    </optgroup>
                </select>


                <input type="hidden" name="horario_inicio" id="horario_inicio">
                <input type="hidden" name="horario_fim" id="horario_fim">

                <!-- 3º Passo: Equipamentos (Preenchido via AJAX) -->
                <label for="carrinho">Carrinhos Disponíveis:</label>
                <select name="equipamento" id="carrinho" required disabled>
                    <option value="">Escolha a data e o horário...</option>
                </select>
                <p><span id="quantidade-info">-</span></p>
                <label for="sala">Sala:</label>
                <input type="text" id="sala" name="sala" placeholder="Qual a sala?" required>

            {% if user.is_staff %}
            <label for="id_professor">Nome do Profº (Username): </label>
            <input type="text" id="id_professor" name="professor" placeholder="Digite o username exato do professor">
            {% endif %}
                
                <button type="submit" id="btn-reservar">Enviar para o Mural</button>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>

        <!-- Seção do Mural -->
        <div class="mural">
            <h2>Mural de Reservas</h2>
            <!-- Grid que será atualizado pelo Ajax quando a data mudar -->
            <div class="grid-mural" id="grid-mural">
                {% include 'partials/lista_reservas.html' with reservas=reservas user=user %}
            </div>
        </div>
    </div>

    <!-- JavaScript que fará as chamadas AJAX -->
    <script src="{% static 'js/scriptMural.js' %}"></script>
</body>
</html>
